.container{
border:
}
h1{
text-align: center;


}
.jumbotron{
  background-color: burlywood;
  width:80%;
  height:40%;

}
.about{
  background-color: #00FFFF;
  width:60%;
  height:100%
}

.about p{
color:burlywood;
margin-left: 5%;
}
.about h4{
margin-left: 5%;
padding-top: 5%
}
.about h6{
  margin-left: 5%;
}
.about2{
  width:60%;
}
